/* إعدادات عامة */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* خلفية الصفحة */
body {
    background: linear-gradient(135deg, #0000ff,  #000000, #0000ff );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

/* الخلفية المتحركة */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* الحاوية */
.container {
    background-color: rgba(0, 3, 26, 0.74);
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
    /* العرض الأقصى للحاوية */
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin: 0 20px;
    /* هوامش جانبية لتجنب التصاق الحاوية بالحواف */
    
   
}

/* اختيار اللغة */
.language-selector {
    margin-bottom: 20px;
    
}

/* العناوين */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

/* الحقول */
.form-group {
    margin-bottom: 15px;
    
    
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 17px;
    border: none;
    margin-top: 5px;
    
}

button {
    width: 100%;
    padding: 15px;
    background-color: #00bcd4;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #009688;
}

/* النتائج */
#results {
    margin-top: 20px;
    background-color: rgba(0, 212, 18, 0.918);
    padding: 15px;
    border-radius: 20px;
}

/* دعم الترجمة */
body[dir="rtl"] {
    direction: rtl;
}

body[dir="ltr"] {
    direction: ltr;
}

/* تصغير الحاوية على شاشات الجوال */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 300px;
        /* تصغير الحاوية */
        padding: 20px;
        /* تقليل حجم الحواف الداخلية */
    }

    h1 {
        font-size: 1.5em;
        /* تصغير حجم العنوان */
    }

    button {
        font-size: 1em;
        /* تقليل حجم النص في الأزرار */
        padding: 12px;
    }

    input {
        padding: 10px;
        /* تصغير الحقول */
    }

    #results {
        padding: 10px;
        /* تقليل حجم النتائج */
    }
}